* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color: #ecf4fb;
  margin: 0px;
}

nav {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav a {
  color: #087ddd;
  font-size: 3vw;
  margin: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #0662ac;
}

.nav-links {
  display: flex!important;
  justify-content: center;
  flex-basis: auto;
  width: 100%;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0px;
}

nav li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(236, 244, 251, 0.6);
}

header {
  height: 100vh;
  background: url("./public/IMG_9376.jpeg");
  background-position: center top;
  background-size: cover;
}

header p {
  width: 75%;
  margin: 0px auto;
}

.container {
  display: flex;
  align-items: center;
  color: #ecf4fb;
  text-shadow: 1px 1px #3d3d3d;
  margin-top: -33px;
  height: 100%;
}

.main-intro {
  font-size: 7vw;
  margin-top: 0px;
}

.bio-blurb {
  font-size: 4.5vw;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

section h2 {
  text-align: center;
  margin: 5px 0px;
}

hr {
  max-width: 50px;
  border-width: 6px;
  border-color: #6bbafa;
  border-top: 0px;
  border-left: 0px;
}

section {
  min-height: 200px;
}

#bio-div {
  background-color: #087ddd;
  color: #ecf4fb;
  text-align: center;
  padding-bottom: 50px;
}

.wrap {
  background-color: #666666;
  color: #ecf4fb;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 4vw;
}

.bio {
  padding: 15px 15px;
  font-size: 4vw;
}

.bio-cartoon {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0px;
}

.capstone p {
  text-align: justify;
  font-size: .65rem;
}

.tech {
  text-align: center !important;
}

#portfolio-div {
  background-image: url('./public/fresh_snow/fresh_snow.png');
}

.outside-wrap {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Clearfix */
.outside-wrap::before,
.outside-wrap::after {
  display: table;
  content: '';
}

.outside-wrap::after {
  clear: both;
}

.col, .col2 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col, .col2 {
  width: 100%;
  position: relative;
}

.row1, .row2 {
  overflow: hidden;
}

.app-info {
  width: 100%;
  position: absolute;
  top: 15px;
  background-color: rgba(107, 186, 250, 0.9);
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  color: #ecf4fb;
  height: calc(100% - 84px);
}

.app-info p {
  line-height: normal;
  margin-top: 2px;
}

h3 {
  margin-bottom: 0px;
  font-size: .75rem;
  margin-top: 7px;
}

.app-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #3d3d3d;
}

section div a:hover .app-info {
  display: block;
}

.recipe-depot {
  margin: auto;
  float: none;
}

.repo-link {
  padding-bottom: 25px;
  font-size: .95rem;
}

.repo-link a:hover {
  text-decoration: underline;
}

.capstone {
  padding: 15px 0px;
}

section div a {
  text-decoration: none;
  color: #065da4;
}

footer {
  padding: 1% 0;
  background-color: #666666;
  color: #ecf4fb;
  font-size: 5vw;
}

@media only screen and (min-width: 500px) {
  .wrap {
    font-size: 3vw;
  }

  nav a {
    font-size: 2.5vw;
    margin: 6px;
  }

  .bio {
    width: 75%;
    margin: 0px auto;
    font-size: 3vw;
    text-align: justify;
  }

  h3 {
    font-size: .85rem;
  }

  .capstone p {
    font-size: .75rem;
  }

  footer {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 640px) {
  .main-intro {
    font-size: 5vw;
  }

  .bio-blurb {
    font-size: 3.5vw;
  }

  .bio-cartoon {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0px;
  }

  .wrap {
    font-size: 2.5vw;
  }

  .bio {
    font-size: 2.5vw;
  }

  .row1 .capstone {
    margin: 0px 15px;
  }

  h3 {
    font-size: .65rem;
  }

  .capstone p {
    font-size: .55rem;
  }

  .col {
    width: calc(50% - 30px);
  }

  .col2 {
    width: 50%;
  }

  footer {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 800px) {
  .main-intro {
    font-size: 4vw;
  }

  .bio-blurb {
    font-size: 2.5vw;
  }

  .bio {
    font-size: 2vw;
  }

  .wrap {
    font-size: 2vw;
  }

  h3 {
    font-size: .75rem;
  }

  .capstone p {
    font-size: .65rem;
  }

  footer {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 950px) {
  nav a {
    font-size: 1.5vw;
  }

  footer {
    font-size: 2vw;
  }

  .repo {
    font-size: 1.5vw;
  }

  h3 {
    font-size: .85rem;
  }

  .capstone p {
    font-size: .75rem;
  }
}

@media only screen and (min-width: 1100px) {
  .bio {
    font-size: 1.5vw;
  }

  .wrap {
    font-size: 1.5vw;
  }

  .app-info {
    height: calc(100% - 86px);
  }

  footer {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1300px) {
  .app-info {
    height: calc(100% - 91px);
  }
}

@media only screen and (min-width: 1500px) {
  .app-info {
    height: calc(100% - 95px);
  }
}
