@import '../../../styles/_variables';
@import '../../../styles/_typography';

#bio {
  padding-top: 130px;
}

.bio-img {
  width: 100%;
}

.bio-text {
  text-align: left;
  font-size: 1.3rem;
}

.img-bio-grid {
  padding: 20px 40px;
}

.resume-button {
  margin-top: 50px !important;
  background-color: $light-blue !important;
  padding: 8px 70px !important;
  color: $almost-white !important;
  font-family: $font-family-source-sans-pro !important;
  text-transform: none !important;
  font-weight: $font-weight-bold !important;
  font-size: 1rem !important;
}

h1 {
  font-size: 1.2em;
}
