@import '../../../styles/_variables';
@import '../../../styles/_typography';

#bio {
  padding-top: 75px;
}

.bio-img {
  width: 100%;
}

.bio-text {
  text-align: left;
  font-size: 1.3rem;
}

.img-bio-grid {
  padding: 20px 40px;
}

h1 {
  font-size: 1.2em;
}
