@import '../../../styles/_variables';
@import '../../../styles/_typography';

#project-detail {
  padding: 2em 16vw;
}

.tech-bubbles {
  padding: 5px 10px;
  margin: 5px 10px;
  font-weight: $font-weight-bold;
  display: inline-block;
  border-radius: 4px;
}

.detail-text {
  text-align: justify;
  padding: 0.5em 8em;
}

.bottom-button-container {
  text-align: center;
}

.detail-container {
  font-size: 1.3rem;
}

.project-about {
  display: flex;
  flex-direction: row;
  padding: 2em 8vw;
}

.project-title {
  text-align: left;
}

.project-role {
  flex: 1 1 0px;
  padding-right: 3vw;
}

.project-tech {
  flex: 1 1 0px;
  padding-left: 3vw;
}

.role-container {
  text-align: left;
}

.tech-bullet {
  vertical-align: middle;
}

.tech-container {
  text-align: left;
}

.project-writeup {
  padding: 2em 8vw;
}

.forward-icon {
  vertical-align: middle;
  margin-left: 8px;
}

.project-urls {
  color: black;
}

.project-urls:visited {
  color: black;
}

.link {
  padding-right: 10px;
  font-weight: $font-weight-semibold;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .detail-text {
    padding: 0.5em 4em;
  }
}

@media (max-width: 1024px) {
  .modal-body {
    width: 80% !important;
  }

  .project-about {
    flex-direction: column;
  }

  .project-role {
    padding-right: 0vw;
  }
  
  .project-tech {
    padding-left: 0vw;
  }
}

@media (max-width: 390px) {
  .modal-body {
    width: 90% !important;
  }

  .detail-text {
    text-align: center;
    padding: 0.5em 1em;
  }
}
