@import '../../../styles/_variables';
@import '../../../styles/_typography';

.project-img {
  width: 100%;
  padding-bottom: 10px;
  cursor: pointer;
}

.modal-body:focus {
  outline: unset;
}

.modal-img {
  width: 100%;
}
