@import '../../../styles/_variables';
@import '../../../styles/_typography';

#project-detail {
  padding: 2em 16vw;
}

.tech-bubbles {
  padding: 5px 10px;
  margin: 5px 10px;
  font-weight: $font-weight-bold;
  display: inline-block;
  border-radius: 4px;
}

.detail-text {
  text-align: justify;
  padding: 0.5em 8em;
}

.bottom-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.detail-container {
  font-size: 1.3rem;
}

.project-about {
  display: flex;
  flex-direction: row;
  padding: 1em 8vw;
}

.project-title {
  text-align: left;
}

.project-role {
  flex: 1 1 0px;
  padding-right: 3vw;
}

.project-tech {
  flex: 1 1 0px;
  padding-left: 3vw;
}

.role-container {
  text-align: left;
}

.tech-bullet {
  vertical-align: middle;
}

.tech-container {
  text-align: left;
}

.project-writeup {
  padding: 1em 8vw;
  text-align: justify;
}

ul {
  margin-top: 0px;
  padding-left: 18px;
}

.image-note {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 0.8em;
  padding-bottom: 1.2em;
}

.forward-icon {
  vertical-align: middle;
  margin-left: 8px;
}

.back-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.project-urls {
  color: black;
}

.project-urls:visited {
  color: black;
}

.link {
  padding-right: 10px;
  font-weight: $font-weight-semibold;
}

.link:hover {
  text-decoration: underline;
}

.back-button {
  text-decoration: none;
  color: $almost-white !important;
  font-weight: $font-weight-bold !important;
  font-size: 1.1rem !important;
  margin-top: 25px !important;
  background-color: $light-blue !important;
  padding: 6px 20px !important;
  padding-right: 24px !important;
  font-family: $font-family-source-sans-pro !important;
  text-transform: none !important;
  margin-bottom: 10px !important;
}

.back-button:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
  transform-origin: center;
}

@media (max-width: 1440px) {
  .detail-text {
    padding: 0.5em 4em;
  }
}

@media (max-width: 1024px) {
  .modal-body {
    width: 80% !important;
  }

  .project-about {
    flex-direction: column;
  }

  .project-role {
    padding-right: 0vw;
  }
  
  .project-tech {
    padding-left: 0vw;
  }
}

@media (max-width: 390px) {
  .bottom-button-container {
    flex-direction: column;
  }

  .modal-body {
    width: 90% !important;
  }

  .detail-text {
    text-align: center;
    padding: 0.5em 1em;
  }

  .project-writeup {
    text-align: left;
  }
}
