@import '../../../styles/_variables';
@import '../../../styles/_typography';

#skills {
  padding-top: 60px;
}

.skill-img {
  width: 25%;
}

@media (max-width: 768px) {
  .skill_name {
    font-size: 1rem;
  }
}
