@import '../../../styles/_variables';
@import '../../../styles/_typography';

#technology {
    padding-top: 10rem;
}

.tech_item {
    padding-bottom: 4em;
}

.title {
    padding-bottom: 1.5em;
}

.tech_icon {
    width: 80px;
}

.tech_title {
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.tech_cta {
    padding-top: 2rem;
}